/* added a global color for all text except footer */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	color:#ffffff;
}

/* targeting body, a, p on the html*/

body {
    background-color: #d9dcd6;
}

/* removed color white */

a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* targeting the headers on the html document */

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* targeting header navs so it works with the html */
/* removed color white */

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* targeting section.hero on html document */

section.hero {
	margin-bottom: 25px;
}

section.hero img {
	height: 800px;
	width: 100%;
	object-fit: cover;
}

/*  targeting section.content on html */

section.content {
	width: 75%;
	display: inline-block;
	margin-left: 20px;
}

/* targeting section.content article.contents on html */
/* removed color white */

section.content article.content {
	margin-bottom: 20px;
	padding: 50px;
	height: 300px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	background-color: #0072bb;
}

section.content article.content h2 {
	margin-bottom: 20px;
	font-size: 36px;
}

section.content article.content img.float-right {
	float: right;
	margin-left: 25px;
}

section.content article.content img.float-left {
	float: left;
	margin-right: 25px;
}

section.content article.content img {
	max-height: 200px;
}

/* targeting aside.benefits on html */
/* removed color white */

aside.benefits {
	margin-right: 20px;
	padding: 20px;
	clear: both;
	float: right;
	width: 20%;
	height: 100%;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	background-color: #2589bd;
}

/* targeting aside.benefits article.benefits on html */
/* removed color white */

aside.benefits article.benefit {
	margin-bottom: 32px;
}

aside.benefits article.benefit h2 {
	font-size: 1.2rem;
	margin-bottom: 10px;
	text-align: center;
}

aside.benefits article.benefit img {
	display: block;
	margin: 10px auto;
	max-width: 150px;
}

/* targeting Footers on html */

footer {
	padding: 30px;
	clear: both;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	text-align: center;
}

/* adding color black to footer, h4, span, so they dont become white. */

footer, h4 {
	font-size: 20px;
	color: black;
}
span {
color: black;
}
